@import url('https://fonts.googleapis.com/css2?family=Cursed+Timer+ULiL&display=swap');

body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    
}

p{
    color: #F94F6D;
    font-size: 50px;
    background-color: #080001;
        width: 155px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Cursed Timer ULiL';

}

h3{
    color: #EEEEEE;
    font-size: 50px;
    width: 149px;
    height: 36px;
    font-family: 'Verdana';

}


#counters-buttons{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    margin-top: 20px;
    
}

button{
    background-color: #1B244A;
    color: #9AABD8;
    font-family: 'Cursed Timer ULiL';
    font-size: 30px;
    border-radius: 20px;
    border-color: #9AABD8;
    cursor: pointer;
    width: 45px;
    height: 45px;
    
}


