@import url('https://fonts.googleapis.com/css2?family=Cursed+Timer+ULiL&display=swap');

body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    
}

p{
    color: #F94F6D;
    font-size: 50px;
    background-color: #080001;
        width: 160px;
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Cursed Timer ULiL';

}

h3{
    color: #EEEEEE;
    font-size: 50px;
    width: 149px;
    height: 36px;
    font-family: 'Verdana';

}


#counters-buttons{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    margin-top: 20px;
    
}

button{
    background-color: #1B244A;
    color: #9AABD8;
    font-family: 'Cursed Timer ULiL';
    font-size: 30px;
    border-radius: 20px;
    border-color: #9AABD8;
    cursor: pointer;
    width: 45px;
    height: 45px;
    
}

input{
    background: saddlebrown;     /* red, blue, yellow, etc */
    color: #EEEEEE;             /* red, blue, yellow, etc */
    font-size: 25px;        /* 0px - 100px and beyond */
    font-weight: bold;   /* lighter, normal, bold  */
    text-align: center;      /* left, center or right  */ 
    margin-top: 30px; 
}


